*{
    margin: 0px;
    padding: 0px;
}
.heading_state p{
    text-align: center;
    
}
.heading_state h1{
    color: #88cdff;
    
}
.head_section{
    background-color: rgb(255, 244, 234);
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.five_team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crd-speaker img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: rgb(78, 175, 255) 5px solid;
}
.crd-speaker {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70vw;
    text-align: center;
    font-family: arial;
    margin: 40px 2vw;
}

.tablecontact{
    color: black;
    font-size: 16px;
}
/* *{
    margin: 0px;
    padding: 0px;
}
.heading_state p{
    text-align: center;
    
}
.five_team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crd-speaker img{
    width: 30vw;
    border-radius: 50%;
    border: rgb(255, 154, 1) 10px solid;
}
.crd-speaker {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70vw;
    text-align: center;
    font-family: arial;
    margin: 40px 2vw;
}
 */
